

body{
    background-color: black;
}

#main_div{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#content_div{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 40%;
    text-align:center;
    height: 60%;
}

#info_div{
    position: absolute;
    top: 60%;
    right: 1%;
    left: 1%;
    bottom: 0;
    text-align:center;
    height: 40%;
}

iframe{
    margin-top: 1%;
    width :75%;
    height: 95%;
}

#left{
    position: absolute;
    flex: 1; 
    left:0;
    width:10%;    
    height:100%;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#center {
    margin-left:10%;
    margin-right: 10%;
    width: 80%;
    height: 100%;
    flex: 3;

}

#right{
   position: absolute;
   width:10%;
   right:0;
   height:100%;
   top:0;
   display: flex;
   justify-content: center;
   align-items: center;
}

i{
    color: white;
}

#text_div{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    height: 35%;
    text-align:right;
    direction: rtl;
    margin-left: 0;
    margin-right: 0;
}

#option_div{
    position: relative;
    height: 18%;
    right: 0;
    left: 0;
    bottom: 0;
    text-align:center;  
}

#Information{
    top: 0;
    right: 0;
    left: 0;
    position: relative;
    margin : 0;
    margin-top: 1%;
    text-align: right;
}

#name_box{
    margin-top: 3px;
    margin-left: 0;
    margin-right: 0;
}

#name_text{
    text-align: right;
}

#meeting_cell{
    padding: 0;
    width: 20%;
}

#course_cell{
    padding: 0;
    padding-right: 1%;
}

